[Unit]
Description=Prometheus Alertmanager
After=network.target

[Service]
ExecStart=/usr/local/bin/alertmanager --config.file=/mnt/data/monitoring/alertmanager.yml --storage.path=/mnt/data/monitoring/alertmanager-data --web.listen-address=:9093 --cluster.listen-address=""
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
